Group Assignments/Midterm/.ipynb_checkpoints/Universities and Colleges (1)-checkpoint.ipynb
Group Assignments/Midterm/.ipynb_checkpoints/Census (Race) in LA county (1)-checkpoint.ipynb
Group Assignments/Midterm/.ipynb_checkpoints/.ipynb_checkpoints/Grocery Stores in LA County (1)-checkpoint-checkpoint.ipynb
Group Assignments/Midterm/.ipynb_checkpoints/Grocery Stores in LA County (1)-checkpoint.ipynb
